.custom-header {
    background-color: #31AFD4; /* Color de fondo personalizado */
    color: white; /* Color de texto*/

  }
  
  .custom-navbar {
    background-color: #31AFD4; /* Color de fondo personalizado */
    color: white; /* Color de texto */

  }

  .custom-btn {
    background-color: #618B4A;
    border-color: #618B4A; 
    color: white; 
}

.custom-btn:hover {
    background-color: #618B4A; 
    border-color: #618B4A; 
    color: white; 
}
